/* Centering container */
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

/* Project box styling */
.project-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; /* Large width for more content */
  max-width: 1200px; /* Limit max width */
  padding: 30px;
  background-color: #1a1a1a;
  border-radius: 22px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s;
}

/* Hover effect */
.project-box:hover {
  transform: translateY(-8px);
}

/* Text content styling */
.project-content {
  flex: 1; /* Take up available space */
  padding-right: 20px;
}

.project-header h3 {
  font-size: 2.5em;
  color: #ffffff;
}

.trophy-icon {
  font-size: 2em;
  color: #ffcd3c;
}

/* Description styling */
.project-description {
  margin: 20px 0;
  color: #ccc;
  font-size: 1.3em;
}

/* Icons styling */
.project-icons {
  display: flex;
  gap: 20px;
  font-size: 2em;
  margin-top: 20px;
}

.project-icons img {
  width: 50px;
  height: auto;
}

/* Image styling */
.project-image {
  width: 40%; /* Occupy 40% of the container width */
  max-width: 300px; /* Max width for image */
  height: auto;
  border-radius: 8px;
}


/* Scroll-to-Top Button Styling */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px; /* Adjust based on your image size */
  height: 50px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

/* Show the button when the user scrolls down */
#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

