body {
    margin: 0;
    background: #ffffff;
    color: #ffffff;
}

.brand {
    position: fixed;
    inset: .7vh;
    box-sizing: border-box;
    
    height: 98vh;
    padding: 0 1vw;
    
    background: #0D0D0D;
    
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    border-radius: 2vh;
}

.brand::-webkit-scrollbar {
    display: none;
}

#cpk{
    position: fixed;
    right: 1.5vw;
    bottom: 3vh;
    z-index: 2727;
    margin: 0;
    font-size: 1.5vh;
    color: #EBEFFD;
    writing-mode: vertical-rl;
    animation-duration: 1.5s;
}
